<h2>Log in here</h2>

<h3 style="color:tomato"><%=error%></h3>
<form action="/signup" method="POST" id="form-container">
    <input placeholder="Your username" type="text" name="userName">
    <input placeholder="Your password" type="password" name="password">
  <br><br>
  <button>Log in</button>
</form>


