<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinkeClone</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <img src="./images/2000pxLinkedInLogo.png" alt="Linkedin Logo">
    <%- body -%>
</body>
</html>